#wrapper {
  width: 100%;
  margin: auto;
}

header {
  width: 100%;
  float: center;
}
section {
  width: 100%;
  clear: both;
  float: center;
}
footer {
  width: 100%;
  clear: both;
  float: center;
}

article a {
  display: block;
  float: center;
  text-align: center;
  text-decoration: none;
  color: black;
}
article a:hover {
  background-color: skyblue;
}

article table {
    border-collapse: collapse;
}

article td {
    width: 150px;
}

article.info {
    margin: 1%;
    padding: 10px;
}

#copyright {
  width: 100%;
  float: center;
  text-align: center;
}
