#wrapper {
  width: 100%;
  margin: auto;
}

header {
  width: 100%;
  float: center;
}
section {
  width: 100%;
  clear: both;
  float: center;
}
footer {
  width: 100%;
  clear: both;
  float: center;
}
header h1 {
  margin: 0;
  float: center;
}
article a {
  display: block;
  float: center;
  text-align: center;
  text-decoration: none;
  color: black;
}
article a:hover {
  background-color: skyblue;
}
#copyright {
  width: 100%;
  float: center;
  text-align: center;
}
#copyright small {}
