#wrapper {
  width: 100%;
  margin: auto;
}
header {
  width: 50%;
  float: left;
}
section {
  width: 50%;
  float: right;
}
footer {
  clear: both;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
hgroup.title {
  padding: 0px;
}
header h1 {
  margin: 0;
  float: center;
}
#htitle {
  float: center;
}
#copyright {
  width: 50%;
  float: right;
  text-align: right;
}
#copyright small {
  font-size: 0.75;
  margin: 0;
}
