/*#wrapper {
  width: 100%;
  margin: auto;
}*/
header {
  width: 50%;
  float: left;
}
section {
  width: 50%;
  float: right;
}
footer {
  width: 100%;
  padding: 0;
  clear: both;
}
hgroup.title {
  padding: 0px;
}
header h1 {
  margin: 0;
  float: center;
}
#htitle {
  float: center;
}
#copyright {
  width: 50%;
  float: center;
  text-align: right;
}
#copyright small {
  margin-bottom: 0;
}
